<?xml version="1.0" encoding="utf-8"?>

<connectionStrings>
  <add name="IncRealDb" connectionString="Data Source=192.168.1.4;Database=IncRealDb;Integrated Security=true"
       providerName="System.Data.SqlClient" />
   <add name="IncRealDb2" connectionString="Data Source=192.168.1.4;Database=IncRealDb2;Integrated Security=true"
       providerName="System.Data.SqlClient" />
</connectionStrings>