@{
    using (var template = Html.Incoding().Template<KeyValueVm>())
    {
        <select>
            @using (var each = template.ForEach())
            {
                <option>
                    @each.For(r => r.Value)
                </option>
            }
        </select>
    }
}