<?xml version="1.0" encoding="utf-8"?>

<connectionStrings>
  <add name="IncRealNhibernateDb"
       connectionString="Data Source=server;Database=IncRealNhibernateDb;Integrated Security=false;User Id=incoding;password=incoding123"
       providerName="System.Data.SqlClient" />
  <add name="IncRealEFDb" connectionString="Data Source=server;Database=IncRealEFDb;Integrated Security=false;User Id=incoding;password=incoding123"
       providerName="System.Data.SqlClient" />
  <add name="IncRealEFSchedulerDb"
       connectionString="Data Source=server;Database=IncRealEFSchedulerDb;Integrated Security=false;User Id=incoding;password=incoding123"
       providerName="System.Data.SqlClient" />
  <add name="IncRealMongoDb" connectionString="mongodb://localhost:27017/test" providerName="System.Data.SqlClient" />
  <add name="IncRealRavenDb" connectionString="http://localhost:8090/" providerName="System.Data.SqlClient" />
</connectionStrings>