<?xml version="1.0"?>
<connectionStrings>
  <add name="IncRealMongoDb" connectionString="mongodb://localhost:27017/test" providerName="System.Data.SqlClient" />
  <add name="IncRealNhibernateDb" connectionString="Data Source=Lion-PC;Database=IncRealNhibernateDb;Integrated Security=false;user id=sa;password=1" providerName="System.Data.SqlClient" />
  <add name="IncRealEFDb" connectionString="Data Source=.;Database=IncRealEFDb;Integrated Security=false;user id=sa;password=1" providerName="System.Data.SqlClient" />
</connectionStrings>