<?xml version="1.0"?>
<connectionStrings>
  <add name="IncRealMongoDb" connectionString="mongodb://localhost:27017/test" providerName="System.Data.SqlClient" />
  <add name="IncRealNhibernateDb" connectionString="Data Source=.;Database=IncRealNhibernateDb;Integrated Security=true;" providerName="System.Data.SqlClient" />
  <add name="IncRealEFDb" connectionString="Data Source=.;Database=IncRealEFDb;Integrated Security=true;" providerName="System.Data.SqlClient" />
</connectionStrings>