<?xml version="1.0" encoding="utf-8"?>

<packages>
  <package id="EntityFramework" version="6.1.0" targetFramework="net40" />
  <package id="EnyimMemcached" version="2.12" targetFramework="net40" />
  <package id="FluentNHibernate" version="2.0.1.0" targetFramework="net40" />
  <package id="FluentValidation.MVC3-Signed" version="5.0.0.3" targetFramework="net40" />
  <package id="FluentValidation-Signed" version="5.0.0.1" targetFramework="net40" />
  <package id="Iesi.Collections" version="4.0.0.4000" targetFramework="net40" />
  <package id="JetBrains.Annotations" version="9.1.1" targetFramework="net40" />
  <package id="Microsoft.CompilerServices.AsyncTargetingPack" version="1.0.1" targetFramework="net40" />
  <package id="mongocsharpdriver" version="1.9.0" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net40" />
  <package id="NHibernate" version="4.0.0.4000" targetFramework="net40" />
  <package id="Ninject" version="3.0.1.10" targetFramework="net40" />
  <package id="RavenDB.Client" version="2.5.2851" targetFramework="net40" />
  <package id="structuremap" version="3.1.4.143" targetFramework="net40" />
</packages>