<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
    <add name="IncRealNhibernateDb" connectionString="Data Source=.\ENT2012;Database=IncRealNhibernateDb;Integrated Security=False;User Id=sa;Password=Incoding123"
       providerName="System.Data.SqlClient" />
    <add name="IncRealEFDb" connectionString="Data Source=.\ENT2012;Database=IncRealEFDb;Integrated Security=False;User Id=sa;Password=Incoding123"
       providerName="System.Data.SqlClient" />
</connectionStrings>

