<?xml version="1.0" encoding="utf-8"?>

<connectionStrings>
  <add name="Main"
       connectionString="Data Source=HOME\SQLEXPRESS;Database=IncSite;Integrated Security=true;"
       providerName="System.Data.SqlClient" />  
  <add name="IncRealNhibernateDb"
       connectionString="Data Source=HOME\SQLEXPRESS;Database=IncRealNhibernateDb;Integrated Security=true;"
       providerName="System.Data.SqlClient" />
  <add name="IncRealEFDb" connectionString="Data Source=HOME\SQLEXPRESS;Database=IncRealEFDb;Integrated Security=True;"
       providerName="System.Data.SqlClient" />
  <add name="IncRealEFSchedulerDb"
       connectionString="Data Source=HOME\SQLEXPRESS;Database=IncRealEFSchedulerDb;Integrated Security=True;"
       providerName="System.Data.SqlClient" />
  <add name="IncRealMongoDb" connectionString="mongodb://localhost:27017/test" providerName="System.Data.SqlClient" />
  <add name="IncRealRavenDb" connectionString="http://localhost:8090/" providerName="System.Data.SqlClient" />
</connectionStrings>