<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="bootstrap" version="3.3.6" targetFramework="net45" />
  <package id="FluentNHibernate" version="2.0.3.0" targetFramework="net45" />
  <package id="FluentValidation.MVC3-Signed" version="5.0.0.3" targetFramework="net45" />
  <package id="FluentValidation-Signed" version="5.0.0.1" targetFramework="net45" />
  <package id="Iesi.Collections" version="4.0.1.4000" targetFramework="net45" />
  <package id="JetBrains.Annotations" version="9.2.0" targetFramework="net45" />
  <package id="jQuery" version="2.0.0" targetFramework="net4" />
  <package id="jQuery.Form" version="3.32" targetFramework="net4" />
  <package id="jQuery.Validation" version="1.11.1" targetFramework="net4" />
  <package id="Microsoft.AspNet.Mvc" version="4.0.20505.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="2.0.20505.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi" version="4.0.20505.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Client" version="4.0.20505.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Core" version="4.0.20505.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="4.0.20505.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages" version="2.0.20505.0" targetFramework="net45" />
  <package id="Microsoft.jQuery.Unobtrusive.Validation" version="2.0.30116.0" targetFramework="net4" />
  <package id="Microsoft.Net.Http" version="2.0.20505.0" targetFramework="net45" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="mustache.js" version="0.4.1" targetFramework="net4" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net45" />
  <package id="NHibernate" version="4.0.4.4000" targetFramework="net45" />
  <package id="SimpleInjector" version="3.1.2" targetFramework="net45" />
  <package id="StructureMap" version="4.4.2" targetFramework="net45" />
  <package id="underscore.js" version="1.4.4" targetFramework="net4" />
</packages>