@using Incoding.SiteTest.Domain
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>    
    <head></head>
    <body>
        <ul>
                 
            @{
                var allVersion = new[]
                                     {
                                             "1.7", 
                                             "1.7.2", 
                                             "1.8.0", 
                                             "1.8.1", 
                                             "1.8.2", 
                                             "1.8.3", 
                                             "1.9.0", 
                                             "1.9.1", 
                                             "2.0.0"
                                     };
            }
                 
                 
            @foreach (var version in allVersion)
            {
                <li>
                    <a href="@Url.Action("Index", "Jasmine", new { jqueryVersion = version, incodingParam = "incValue" })">
                        Test with juqery @version
                    </a>        
                </li>
            }
            @Html.Dispatcher().Query(new GetProductWithAttrQuery())
  
        </ul>  
    </body>

</html>