@using (Html.When(JqueryBind.Click)
                  .Direct()
                  .OnSuccess(dsl => dsl.Utilities.Window.Alert("Test"))
                  .AsHtmlAttributes()
                  .ToBeginTag(HtmlTag.Span))
{
    <div>Test</div>
}
