<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <apikeys>
    <add key="https://nuget.org/packages/IncFramework" value="76c16e11-98d0-47e6-b0a1-171c3c72bcbb" />
  </apikeys>
  <packageSources>
    <!--<add key="NuGet official package source" value="https://nuget.org/api/v2/" />-->
  </packageSources>
</configuration>